/* Global */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777777;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
}
*{
    font-family: 'Open Sans', sans-serif !important;
}

.container{
    width: 90% !important;
}

.material-icons {
    font-family: 'Material Icons' !important;
}
.brand-logo {
    color: #fff !important;
    font-size: 20px !important;    
    margin-left: 89px;
    left: 0 !important;
    font-weight: 300;
}

.brand-logo strong{
    font-weight: 600 !important;
}

textarea {
    height: 160px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 #ebedee;
    background-color: #ffffff;
    border: solid 1px #a8aeb2;
}

.background-busca {
    /*height: 294px;*/
    background-color: #384750;
}

.buscar {
    text-align: center;
    width: 576px;
    height: 60px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border: solid 1px #a7bbc3;
    padding-left: 15px;
}

.header-titulo {
    margin-top: 48px;
    margin-bottom: 35px;
    color: #f5a623;
    font-weight: 600 !important;
    text-align: center;
    font-size: 36px;
}

.topicos {
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0px;
}

.icon {
    color: #f5a623;
    width: 7px;
    height: 11px;
    font-weight: bold;
    float: left;
    margin-right: 21px
}

.subtitulo {
    font-size: 28px;
    color: #474747;
    font-weight: 600;
    text-align: left;
}

.linha {
    height: 2px;
    opacity: 0.46;
    border: solid 1px #979797;
    text-align: center
}

.subtitulo-duvidas {
    
    height: 26px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #474747;
    color: var(--greyish-brown);
    clear: both;
}

.box-duvidas {
    width: 449px !important;
    height: 158px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 2px #ebedee;
    text-align: center;
}

.texto-duvidas {
    padding-top: 28px;
    padding-left: 121px;
    padding-right: 37px;
    text-align: left
}

.icon-duvidas {
    padding-top: 50px;
    padding-left: 30px;
    float: left;
    width: 95px;
    height: 31px;
    color: #979797
}

.box-container {
    width: 949px;
    height: 167px;
    margin-bottom: 131px;
    margin-top: 40px;
}

.box-form-busca-index {
    background: #ffffff;
    width: 100%;
    border: solid 1px #a7bbc3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    padding: 0;
    height: 60px;
    margin: 15px 80px 0 0;
    position: relative;
}

.input-busca {
    width: 782px;
    height: 40px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border: solid 1px #a7bbc3;
    padding-left: 5px;
    margin-bottom: 5px
}

.box-form-busca-index input#busca_home_input {
    width: 515px;
    padding-left: 10px;
    margin: 0;
    border: none;
    height: 60px;
}

.inner-addon {
    position: relative;
}

.footer {
    width: full;
    height: 40px;
    background-color: #263239;
    border: solid 1px #979797;
    margin-bottom: 0px;
}

.font {
    font-style: OpenSans;
    font-size: 18px;
    color: #384750;
}

.retangulo-dicas {
    width: 780px;
    height: 71px;
    border-radius: 5px;
    background-color: #eaf1df;
    border: solid 0.5px #b9c3a9;
    margin-bottom: 26px;
}

.retangulo-importante {
    width: 780px;
    height: 71px;
    border-radius: 5px;
    background-color: #737e84;
}

.dropdown-requerimento {
    color: #384750;
    width: 772px;
    height: 40px;
    border-radius: 3px;
    background-color: #f5f6f6;
    padding-top: 5px;
    position: relative;
}

.pergunta-artigo {
    width: 180px;
    height: 70px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 #ebedee;
    background-color: #ffffff;
    border: solid 1px #a8aeb2;
    margin-left: 496px;
}

.font-h2 {
    font: OpenSans-Semibold;
    font-size: 24px;
    color: #474747;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px
}

.resposta-artigo {
    width: 116px;
    height: 29px;
    opacity: 0.8;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #384750;
}

.dicas-2 {
    width: 760px;
    height: 159px;
    border-radius: 5px;
    background-color: #eaf1df;
    border: solid 0.5px #b9c3a9;
}

.numeracao-circulo {
    width: 22px;
    height: 22px;
    background-color: #384750;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.breadcrumb {
    font-size: 16px;
}

.breadcrumb-pesquisa {
    font-size: 14px;
    line-height: 1.63;
    letter-spacing: normal;
    color: #384750;
    opacity: 0.5;
}

.breadcrumb::before {
    content: '\E5CC';
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: -6px;
    opacity: 0.4;
    color: #384750;
}

.breadcrumb-pesquisa::before {
    content: '\E5CC';
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: -6px;
    opacity: 0.4;
    color: #384750;
}

.size-x {
    width: 22px;
    height: 22px;
}

.circulo {
    background: #263239;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 10px;
    margin-top: 3px
}

.collapso {
    width: 762px;
    background-color: #fff;
    border: none;
    box-shadow: none
}

.box-form-header-interna-busca {
    background: #ffffff;
    width: 300px;
    float: right;
    border: solid 1px #a7bbc3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    padding: 0;
    height: 40px;
    margin: 15px 80px 0 0;
    position: relative;
}

.box-form-header-interna-busca input {
    width: 200px;
    padding: 0;
    margin: 0;
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;
    border: none;
}

.btn-large {
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 #ebedee;
    background: none;
    border: solid 1px #a8aeb2;
    text-transform: capitalize;
    line-height: 60px;
    height: 70px;
    width: 180px;
    color: #a8aeb2;
    margin: 9px;
}

.btn-smalll{
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 #ebedee;
    background: none;
    border: solid 1px #a8aeb2;
    text-transform: capitalize;
    line-height: 60px;
    height: 30px;
    width: 50px;
    color: #121213;
    margin: 9px;
}

.btn-large:hover {
    background: #EAF1DF;
}

.btn-requerimentos {
    height: 142px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: solid 1px #a7bbc3;
    margin-bottom: 20px;
    padding-left: 30px;
    cursor: pointer;
}

.btn-requerimento:hover {
    background: #263239
}

.titulo-resultado {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 25px;
    color: #474747;
    font-weight: bold;
    text-align: left
}

.titulo-requerimento {
    margin-top: 15px;
    margin-bottom: -10px;
    color: #474747;
    text-align: left;
    font-size: 24px;
}

.container-acessar {
    width: 775px;
}

a.hover:hover {
    font-weight: bold;
}

.hover-indice:hover {
    margin-left: 1px;
    color: red !important;
}

.text-rodape {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

div.hoverbox:hover{
    border-color:#42a5f5;
    margin-left: 1px;
}

.txt_home{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
    width: 662px;
}
.box_busca_home{
    width: 581px;
    margin: 0 auto;
}
.box_header{
 width: 641px;
margin: 0 auto;   
}

.subtitulo_portlet{
    font-size: 13px;
    font-weight: 600;    
}


.box_lista_folders{
    width: 65%;
    float: left;
}
.box_full{}
.box_portlet_pagina{
    width: 315px; 
    /*position: fixed;*/
    /*right: 220px;
    top: 400px;*/
}
.box_portlet{
    float: right;
    width: 315px; 
    /*position: fixed;*/
    /*right: 220px;
    top: 400px;*/
}
.menu_portlet{
    transition: box-shadow .25s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    margin-left: 0 !important;
}
.item_menu_portlet{
    border-left: 3px solid #cfd8dc;
    color: #474747;
    padding: 24px 15px;
    border-radius: 0 0 2px 2px;
    background-color: #fbfaf5 !important;
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    display: block !important;
}
.item_menu_portlet:hover{
    border-left:  3px solid #ffd54f;
    background-color: #feedb3 !important;
}
.item_menu_portlet a{
    border-bottom: none !important;
    /*padding: 30px 0;*/
    color: #263239 !important;
}
.item_menu_portlet a:hover{
    color: #263239 !important;
}
#content li{
    margin-bottom: 0 !important;
}
#content ul{
    list-style-type: disc;
    margin-left: 0em !important;
}
.nav_subfolders{
    width: 700px;
}
.nav_subfolders li{
    /*display: inline-block !important;*/
    width: 365px;
    background: url(++theme++siproquim2/assets/angle-right.png) no-repeat;
    padding-left: 15px;
    background-position: left center;
    font-size: 18px;
    
}
.nav_subfolders li:hover{
    margin-left: 5px;
}
.nav_subfolders li a{
    border: none !important;
    color: #263239 !important;
}
.nav_subfolders li a:hover{
    color: #263239 !important;
}
.row .col.s4 {
    width: 50%;
}

[type="radio"]:not(:checked), [type="radio"]:checked,
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 100;
    pointer-events: all !important;
}
.searchButton_home{
   background: none;
    border: none;
    margin-top: 14px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
    font-size: 25pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans',! sans-serif important;
    font-weight: 600 !important;
}

.box_feedbak{display: none !important;}
.portaltype-document .box_feedbak{display: block !important;}

.menu_flutua{position: fixed;}

